@(userName: String)(implicit messages: Messages)

@main("Welcome User Home") {
<div class="container" id="home">

    <div class="row">
        <div class="4u 12u(mobile)">

            <section>
                <h2>CodeWarrior2000</h2>
                <ul class="small-image-list">
                    <li>
                        <a href="/profile"><img src='@routes.Assets.versioned("images/avatar.png")' alt="" class="left" /></a>
                        <h4></h4>
                        <i class="crown"></i>
                    </li>

                </ul>
            </section>

        </div>
        <div class="8u 12u(mobile)">

            <section>
                <h2>Kata of the week</h2>

                <ul class="big-image-list">
                    <li>
                        <a href="/katta"><img src='@routes.Assets.versioned("images/bowling.png")' alt="" class="left" /></a>
                        <h3><a href="/katta">Bowling scores</a></h3>
                        <p>The goal of this kata is to model a game of bowling.</p>
                    </li>

                </ul>
            </section>

            <section>
                <h2><a href="/old-kattas">More katas</a></h2>
                <ul class="small-image-list">
                    <li>
                        <a href="#"><img src='@routes.Assets.versioned("images/vending-machine.jpg")' alt="" class="left" /></a>
                        <h4>Vending Machine</h4>
                        <p>The goal of this kata is to model a vending machine</br> and the state it must maintain during it’s operation.</p>
                    </li>
                    <li>
                        <a href="#"><img src='@routes.Assets.versioned("images/roman-numeral.jpg")' alt="" class="left" /></a>
                        <h4>Roman numerals</h4>
                        <p>The goal of this kata is to convert numbers to roman numerals.</p>
                    </li>
                </ul>
            </section>

        </div>
    </div>
</div>

}
