@(userName : String)(implicit messages: Messages)

@main("Profile Details") {
<div class="container" id="katta">
        <div class="row main-row">

            <div class="4u 12u(mobile)">

                <section>
                    <ul class="big-image-list">
                        <li>
                            <a href="#"><img src='@routes.Assets.versioned("images/bowling.png")' alt="" class="left" /></a>

                        </li>

                    </ul>
                </section>



            </div>
            <div class="8u 12u(mobile)">

                <section>
                    <h2>Bowling scores</h2>


                    <p>The goal of this program is to model a game of bowling. Given a series of input the program should output the players final score.</p>

                    <details>

                        <summary><span class="summary">Specification for bowling</span></summary>

                        <div class="panel panel-border-narrow">

                            <p>Each game, or line of bowling, includes ten turns, or frames for the bowler.</p>
                            <p>In each frame, the bowler gets up to two tries to knock down all the pins. If in two tries, he fails to knock them all down, his score for that frame is the total number of pins knocked down in his two tries.</p>
                            <p>If in two tries he knocks them all down, this is called a spare and his score for the frame is ten plus the number of pins knocked down on his next throw (in his next turn).</p>
                            <p>If on his first try in the frame he knocks down all the pins, this is called a strike. His turn is over, and his score for the frame is ten plus the simple total of the pins knocked down in his next two rolls.</p>
                            <p>If he gets a spare or strike in the last (tenth) frame, the bowler gets to throw one or two more bonus balls, respectively. These bonus throws are taken as part of the same turn. If the bonus throws knock down all the pins, the process does not repeat: the bonus throws are only used to calculate the score of the final frame.</p>
                            <p>The game score is the total of all frame scores.</p>

                        </div>

                    </details>
                </section>

                <section>
                    <h2>Kata solutions</h2>
                    <p id="text" style="display:none">Checkbox is CHECKED!</p>

                </section>

                <section>
                    <h2>Solve the kata</h2>

                    <textarea rows="15" cols="100" id="solution">Enter your solution</textarea>
                </section>
                <section>
                    <button class="button" onclick='postSolution(document.getElementById("solution").value)'>Solve kata</button>


                </section>


            </div>

        </div>
</div>
}