@(userName: String)(implicit messages: Messages)

@main("League Details") {
<div class="container" id="league">
    <div class="row main-row">
        <div class="8u 12u(mobile)">

            <section class="left-content">
                <h2>League table</h2>
                <table style="width:100%">
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Ladine Cook</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Name Name</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Name Name</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Name Name</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Name Name</td>
                    </tr>
                </table>
            </section>

        </div>
        <div class="4u 12u(mobile)">





        </div>
    </div>
</div>
}