@(userName: String)(implicit messages: Messages)

@main("League Details") {
<div class="container" id="league">
    <div class="row main-row">
        <div class="8u 12u(mobile)">

            <section class="left-content">
                <h2>League table</h2>

                <div class="tablerow">
                    <div class="col-2 col-header">Rank</div>
                    <div class="col-4 col-header">Name </div>
                    <div class="col-4 col-header">Level</div>
                </div>
                <div class="tablerow">
                    <div class="col-2">1</div>
                    <div class="col-4">Ladin </div>
                    <div class="col-4">Expert</div>
                </div>
                <div class="tablerow">
                    <div class="col-2">2</div>
                    <div class="col-4">Name </div>
                    <div class="col-4">Expert</div>
                </div>
                <div class="tablerow">
                    <div class="col-2">3</div>
                    <div class="col-4">Name </div>
                    <div class="col-4">Intermediat</div>
                </div>
                <div class="tablerow">
                    <div class="col-2">4</div>
                    <div class="col-4">Name </div>
                    <div class="col-4">Beginer</div>
                </div>
            </section>

        </div>
        <div class="4u 12u(mobile)">





        </div>
    </div>
</div>
}