@(userName : String)(implicit messages: Messages)

@main("Profile Details") {
<div class="container" id="profile">
    <div class="row main-row">
        <div class="4u 12u(mobile)">

            <section>
                <h2>Profile</h2>
                <ul class="small-image-list">
                    <li>
                        <a href="#"><img src='@routes.Assets.versioned("images/avatar.png")'  alt="" class="left" /></a>
                        <h4>Jane Anderson</h4>
                        <i class="crown"></i>
                    </li>

                </ul>
            </section>

            <section>
                <div>
                    <div class="row">
                        <div class="6u 12u(mobile)">
                            <ul class="link-list">
                                <li><a href="#">Change password</a></li>
                                <li><a href="#">Edit profile</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </section>

        </div>
        <div class="8u 12u(mobile) important(mobile)">

            <section class="right-content">
                <h2>About you</h2>
                <h3>Name</h3>
                <p>CodeWarrior2000</p>
                <h3>Role</h3>
                <p>Developer</p>
                <h3>Skills</h3>
                <p>Scala</p>
            </section>

        </div>
    </div>
</div>
}